<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}}">Title</title>
</head>
<body>

<div>

    <h3 th:text="${text}}"></h3>


    <a th:href="@{/form/}" th:text="'Crear user(+)'"></a>
    <div th:text="'no hay usuarios en el sistema!'" th:if="${#lists.isEmpty(users)}" ></div>
    <table th:if="${not #lists.isEmpty(users)}">
          <thead>
          <tr>
              <th>id</th>
              <th>name</th>
              <th>lastName</th>
              <th>Email</th>
              <th>Create at</th>
              <th>edit</th>
              <th>remove</th>
          </tr>
          </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.createdAt}"></td>
            <td><a th:href="@{/form/} + ${user.id}">edit</a>edit</td>
            <td><a th:href="@{/delete/} + ${user.id}"
                   onclick="return confirm('esta seguro que desea eleiminar')" >delete</a></td>
        </tr>
        </tbody>

    </table>
</div>


</body>
</html>